.row { display:table; margin-top: 8%;}
.column { display:table-cell;  margin-top: 10%; margin-left: 7%; margin-right: 7%;}


#name {
border-width:2px;
border-style:solid;
border-color:black;
padding-left: 5px;
padding-right: 2px;
background-color: grey;

}
#game{
margin-top: 0%;
margin-right:0%; 
float:right; clear: both;
padding-left: 5px;
padding-right: 5px;
border-width:2px;
border-style:solid;
border-color: black;
border-top: none;
border-right: none;



}


p {
clear:right;
}


@media (max-width: 991px) and (min-width: 768px){
    .column1, .column2 { margin-top: 2%;}
    .column1 {float:left; width:34%; margin-left: 7%; }
    .column2 { float:right; width:34%; margin-right: 7%; }
    .column3 { float:left;;width:85%;margin-top: 4%; margin-left: 7%; margin-right: 7%;}

      
}

@media (max-width: 767px){
.column { display:table; margin-top: 7%;}
.row { display:table-cell;
      }
         
          }
